<%= link_to 'Back to Dashboard', dashboard_path %>

<h3>Want to import your photos and contacts from Moses's Suite of Apps?</h3>

<p><%= link_to 'Allow us to easily import your resources!', import_resources_oauth_path %></p>
<br>
You will be redirected to the login page of Moses's Apps and be asked to authorize approval for us to pull your photos and contacts.