<h1>BlogApp</h1>
<h4>Want to import your photos and contacts from Moses's PhotoApp and AddressBookApp?</h4>

<p>Click <%= link_to 'here', import_resources_oauth_path %></p>
<br>
You will be redirected to the login page of Moses's Apps and be asked to authorize approval for us to pull your photos and contacts.