<p>Want to import your photos from the Photos Application?</p>

<p>Click <%= link_to 'here', import_resources_oauth_path %> and will redirect you to the photos login page for you to approve importing of photos to this blog.</p>